<a href="https://colab.research.google.com/github/Lilchoto3/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/LS_DS_112_Make_Features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 1, Sprint 1, Module 2*

---

# Make Features 

- Student should be able to understand the purpose of feature engineering
- Student should be able to work with strings in pandas
- Student should be able to work with dates and times in pandas
- Student should be able to modify or create columns of a dataframe using the `.apply()` function


Helpful Links:
- [Minimally Sufficient Pandas](https://medium.com/dunder-data/minimally-sufficient-pandas-a8e67f2a2428)
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series
- [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)

# [Objective](#feature-engineering) - The Purpose of Feature Engineering

## Overview

Feature Engineering is the process of using a combination of domain knowledge, creativity and the pre-existing columns of a dataset to create completely new columns.

 Machine Learning models try to detect patterns in the data and then associate those patterns with certain predictions. The hope is that by creating new columns on our dataset that we can expose our model to new patterns in the data so that it can make better and better predictions.

This is largely a matter of understanding how to work with individual columns of a dataframe with Pandas --which is what we'll be practicing today!

## Follow Along

Columns of a dataframe hold each hold a specific type of data. Lets inspect some of the common datatypes found in datasets and then we'll make a new feature on a dataset using pre-existing columns.

In [0]:
import pandas as pd

In [3]:
# Lets take a look at the Ames Iowa Housing Dataset:
df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv')

print(df.shape)
df.head()

(1460, 81)

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

### Specific Columns hold specific kinds of data

In [4]:
pd.set_option("display.max_rows", 100)
df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
Alley             object
LotShape          object
LandContour       object
Utilities         object
LotConfig         object
LandSlope         object
Neighborhood      object
Condition1        object
Condition2        object
BldgType          object
HouseStyle        object
OverallQual        int64
OverallCond        int64
YearBuilt          int64
YearRemodAdd       int64
RoofStyle         object
RoofMatl          object
Exterior1st       object
Exterior2nd       object
MasVnrType        object
MasVnrArea       float64
ExterQual         object
ExterCond         object
Foundation        object
BsmtQual          object
BsmtCond          object
BsmtExposure      object
BsmtFinType1      object
BsmtFinSF1         int64
BsmtFinType2      object
BsmtFinSF2         int64
BsmtUnfSF          int64
TotalBsmtSF        int64
Heating           object
HeatingQC         object
CentralAir        object
Electrical        object
1stFlrSF           int64
2ndFlrSF           int64
LowQualFinSF       int64
GrLivArea          int64
BsmtFullBath       int64
BsmtHalfBath       int64
FullBath           int64
HalfBath           int64
BedroomAbvGr       int64
KitchenAbvGr       int64
KitchenQual       object
TotRmsAbvGrd       int64
Functional        object
Fireplaces         int64
FireplaceQu       object
GarageType        object
GarageYrBlt      float64
GarageFinish      object
GarageCars         int64
GarageArea         int64
GarageQual        object
GarageCond        object
PavedDrive        object
WoodDeckSF         int64
OpenPorchSF        int64
EnclosedPorch      int64
3SsnPorch          int64
ScreenPorch        int64
PoolArea           int64
PoolQC            object
Fence             object
MiscFeature       object
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
dtype: object

Some columns hold integer values like the `BedroomAbvGr` which stands for "Bedrooms Above Grade." This is the number of non-basement bedrooms in the home.

For more information on specific column meanings view the [data dictionary](https://github.com/ryanleeallred/datasets/blob/master/Ames%20Housing%20Data/data_description.txt).

In [5]:
# Look at the first ten rows of the `BedroomAbvGr` column.
# Looks like integers to me!
df.BedroomAbvGr

0       3
1       3
2       3
3       3
4       4
       ..
1455    3
1456    3
1457    4
1458    2
1459    3
Name: BedroomAbvGr, Length: 1460, dtype: int64

Some columns hold float values like the `LotFrontage` column.

In [6]:
# Look at the first ten rows of the `LotFrontage` column.
df.LotFrontage

0       65.0
1       80.0
2       68.0
3       60.0
4       84.0
        ...
1455    62.0
1456    85.0
1457    66.0
1458    68.0
1459    75.0
Name: LotFrontage, Length: 1460, dtype: float64

Hmmm, do the values above look like floats to you?

They all have .0 on them so technically they're being stored as floats, but *should* they be stored as floats?

Lets see what all of the possible values for this column are.

In [9]:
pd.set_option("display.max_rows", 150)
df.LotFrontage.value_counts(dropna=False)

NaN      259
60.0     143
70.0      70
80.0      69
50.0      57
75.0      53
65.0      44
85.0      40
78.0      25
21.0      23
90.0      23
68.0      19
24.0      19
64.0      19
73.0      18
72.0      17
79.0      17
63.0      17
55.0      17
100.0     16
51.0      15
66.0      15
74.0      15
52.0      14
59.0      13
71.0      12
67.0      12
57.0      12
82.0      12
43.0      12
40.0      12
76.0      11
69.0      11
53.0      10
92.0      10
88.0      10
34.0      10
86.0      10
77.0       9
35.0       9
44.0       9
84.0       9
62.0       9
93.0       8
61.0       8
98.0       8
96.0       8
107.0      7
95.0       7
120.0      7
58.0       7
41.0       6
105.0      6
54.0       6
94.0       6
48.0       6
110.0      6
30.0       6
89.0       6
81.0       6
91.0       6
36.0       6
47.0       5
83.0       5
37.0       5
87.0       5
32.0       5
56.0       5
102.0      4
42.0       4
49.0       4
99.0       3
45.0       3
104.0      3
130.0      3
103.0      3
108.0      3
124.0      2
174.0      2
97.0       2
134.0      2
129.0      2
313.0      2
118.0      2
122.0      2
121.0      2
101.0      2
109.0      2
115.0      2
116.0      2
114.0      2
153.0      1
149.0      1
150.0      1
111.0      1
182.0      1
46.0       1
112.0      1
141.0      1
33.0       1
152.0      1
160.0      1
168.0      1
128.0      1
144.0      1
39.0       1
106.0      1
38.0       1
138.0      1
140.0      1
137.0      1
Name: LotFrontage, dtype: int64

In [15]:
df.isnull().sum()

Id                  0
MSSubClass          0
MSZoning            0
LotFrontage       259
LotArea             0
Street              0
Alley            1369
LotShape            0
LandContour         0
Utilities           0
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
OverallQual         0
OverallCond         0
YearBuilt           0
YearRemodAdd        0
RoofStyle           0
RoofMatl            0
Exterior1st         0
Exterior2nd         0
MasVnrType          8
MasVnrArea          8
ExterQual           0
ExterCond           0
Foundation          0
BsmtQual           37
BsmtCond           37
BsmtExposure       38
BsmtFinType1       37
BsmtFinSF1          0
BsmtFinType2       38
BsmtFinSF2          0
BsmtUnfSF           0
TotalBsmtSF         0
Heating             0
HeatingQC           0
CentralAir          0
Electrical          1
1stFlrSF            0
2ndFlrSF            0
LowQualFinSF        0
GrLivArea           0
BsmtFullBath        0
BsmtHalfBath        0
FullBath            0
HalfBath            0
BedroomAbvGr        0
KitchenAbvGr        0
KitchenQual         0
TotRmsAbvGrd        0
Functional          0
Fireplaces          0
FireplaceQu       690
GarageType         81
GarageYrBlt        81
GarageFinish       81
GarageCars          0
GarageArea          0
GarageQual         81
GarageCond         81
PavedDrive          0
WoodDeckSF          0
OpenPorchSF         0
EnclosedPorch       0
3SsnPorch           0
ScreenPorch         0
PoolArea            0
PoolQC           1453
Fence            1179
MiscFeature      1406
MiscVal             0
MoSold              0
YrSold              0
SaleType            0
SaleCondition       0
SalePrice           0
dtype: int64

Looks to me like the `LotFrontage` column originally held integer values but was cast to a `float` meaning that each original integer values was converted to its corresponding float representation. 

Any guesses as to why that would have happened?


HINT: What's the most common `LotFrontage` value for this column?

In [11]:
# NaN is the most common value in this column. What is a NaN

float

`NaN` stands stands for "Not a Number" and is the default missing value indicator with Pandas. This means there were cells in this column that didn't have a LotFrontage value recorded for those homes. 

This is where domain knowledge starts to come in. Think about the context we're working with here: houses. What might a null or blank cell representing "Linear feet of street connected to property" mean in the context of a housing dataset?

Ok, so maybe it makes seanse to have some NaNs in this column. What is the datatype of a NaN value?

Perhaps some of this data is truly missing or unrecorded data, but sometimes `NaNs` are more likely to indicate something that was "NA" or "Not Applicable" to a particular observation. There could be multiple reasons why there was no value recorded for a particular feature.

Remember, that Pandas tries to maintain a single datatype for all values in a column, and therefore...

In [12]:
import numpy as np
type(np.NaN)

# What is the datatype of NaN?

float

The datatype of a NaN is float!  This means that if we have a column of integer values, but the column has even a single `NaN` that column will not be treated with the integer datatype but all of the integers will be converted to floats in order to try and preserve the same datatype throughout the entire column.

You can see already how understanding column datatypes is crucial to understanding how Pandas help us manage our data.

### Making new Features

Lets slim down the dataset and consider just a few specific columns:

- `TotalBsmtSF`
- `1stFlrSF`
- `2ndFlrSF`
- `SalePrice1`

In [18]:
# I can make a smaller dataframe with a few specific column headers
# by passing a list of column headers inside of the square brackets
df_small = df[["TotalBsmtSF", "1stFlrSF", "2ndFlrSF", "SalePrice"]].copy()

df_small.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice
0          856       856       854     208500
1         1262      1262         0     181500
2          920       920       866     223500
3          756       961       756     140000
4         1145      1145      1053     250000

### Syntax for creating new columns

When making a new column on a dataframe, we have to use the square bracket syntax of accessing a column. We can't use "dot syntax" here.

In [19]:
# Lets add up all of the square footage to get a single square footage 
# column for the entire dataset

# Using bracket syntax to make a new 'TotalSquareFootage' column

df_small["TotalSF"] = df_small["TotalBsmtSF"] + df_small["1stFlrSF"] + df_small["2ndFlrSF"]

df_small.head()

# Important note! You need to use Bracket Syntax when creating new columns!
# Dot Syntax only works on columns that already exist.

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotalSF
0          856       856       854     208500     2566
1         1262      1262         0     181500     2524
2          920       920       866     223500     2706
3          756       961       756     140000     2473
4         1145      1145      1053     250000     3343

In [20]:
# Lets make a nother new column that is 'PricePerSqFt' by
# dividing the price by the square footage

df_small["PricePerSqFT"] = df_small["SalePrice"] / df_small["TotalSF"]

df_small.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotalSF  PricePerSqFT
0          856       856       854     208500     2566     81.254871
1         1262      1262         0     181500     2524     71.909667
2          920       920       866     223500     2706     82.594235
3          756       961       756     140000     2473     56.611403
4         1145      1145      1053     250000     3343     74.783129

Ok, we have made two new columns on our small dataset.

- What does a **high** `PricePerSqFt` say about a home that the square footage and price alone don't capture as directly?

- What does a **low** `PricePerSqFt` say about a home that the square footage and price alone don't directly capture?

## Challenge

I hope you can see how we have used existing columns to create a new column on a dataset that say something new about our unit of observation. This is what making new features (columns) on a dataset is all about and why it's so essential to data science --particularly predictive modeling "Machine Learning." 

We'll spend the rest of the lecture and assignment today trying to get as good as we can at manipulating (cleaning) and creating new columns on datasets.

# [Objective](#work-with-strings) Work with Strings with Pandas

## Overview

So far we have worked with numeric datatypes (ints and floats) but we haven't worked with any columns containing string values. We can't simply use arithmetic to manipulate string values, so we'll need to learn some more techniques in order to work with this datatype.

## Follow Along

We're going to import a new dataset here to work with. This dataset is from LendingClub and holds information about loans issued in Q4 of 2018. This dataset is a bit messy so it will give us plenty of opportunities to clean up existing columns as well as create new ones.

The `!wget` shell command being used here does exactly the same thing that your browser does when you type a URL in the address. It makes a request or "gets" the file at that address. However, in our case the file isn't a webpage, it's a compressed CSV file. 

Try copying and pasting the URL from below into your browser, did it start an automatic download? Any URLs like this that start automatic downloads when navigated to can be used along with the `!wget` command to bring files directly into your notebook's memory.

### Load a new dataset

In [21]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-02-11 17:56:51--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://static.lendingclub.com/www/terms-of-use-violation.html?TS-request-id=13713577112953266831 [following]
--2020-02-11 17:56:52--  https://static.lendingclub.com/www/terms-of-use-violation.html?TS-request-id=13713577112953266831
Resolving static.lendingclub.com (static.lendingclub.com)... 13.35.105.32
Connecting to static.lendingclub.com (static.lendingclub.com)|13.35.105.32|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 15677 (15K) [text/html]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs 100%[===================>]  15.31K  --.-KB/s    in 0s

2020-02-11 17:56:52 (525 MB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [15677/15677]

We need to use the `!unzip` command to extract the csv from the zipped folder.

In [25]:
!unzip LoanStats_2018Q4.csv

Archive:  LoanStats_2018Q4.csv.zip
  End-of-central-directory signature not found.  Either this file is not
  a zipfile, or it constitutes one disk of a multi-part archive.  In the
  latter case the central directory and zipfile comment will be found on
  the last disk(s) of this archive.
unzip:  cannot find zipfile directory in one of LoanStats_2018Q4.csv or
        LoanStats_2018Q4.csv.zip, and cannot find LoanStats_2018Q4.csv.ZIP, period.

We can also use bash/shell commands to look at the raw file using the `!head` and `!tail` commands

In [27]:
!head LoanStats_2017Q1.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_il_6m","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_il_6m","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog"
"","","3600","3600","3600"," 36 months","  7.49%","111.97","A","A4","Code/Compliance Inspector","10+ years","MORTGAGE","120000","Not Verified","Mar-2017","Issued","n","","","other","Other","467xx","IN","18.9","0","Aug-1992","1","","96","18","1","5658","14.9%","33","w","3600.00","3600.00","0.0","0.00","0.00","0.00","0.0","0.0","0.0","","0.0","Apr-2017","Apr-2017","0","","1","INDIVIDUAL","","","","0","0","36506","2","6","2","6","2","30848","55","4","7","1020","39","37900","3","1","4","13","2147","7980","11.3","0","0","166","295","3","2","0","9","","2","","0","1","4","2","3","17","12","16","4","18","0","0","0","6","100","0","1","0","93599","36506","9000","55699","","","","","","","","","","",""
"","","15000","15000","15000"," 60 months"," 14.99%","356.78","C","C4","Senior Superintendent","10+ years","MORTGAGE","125000","Not Verified","Mar-2017","Issued","n","","","other","Other","064xx","CT","17.25","0","Sep-1989","0","","","11","0","53167","75.3%","18","w","15000.00","15000.00","0.0","0.00","0.00","0.00","0.0","0.0","0.0","","0.0","Apr-2017","Apr-2017","0","","1","INDIVIDUAL","","","","0","0","90423","0","2","0","1","22","16197","54","0","3","15199","69","70600","1","0","0","4","8220","13968","76.8","0","0","158","245","16","16","2","16","","16","","0","5","7","6","8","6","8","10","7","11","0","0","0","0","100","66.7","0","0","148572","69364","60300","30224","","","","","","","","","","",""
"","","8400","8400","8400"," 36 months"," 11.39%","276.56","B","B3","IT Tech","8 years","MORTGAGE","50000","Source Verified","Mar-2017","Issued","n","","","other","Other","454xx","OH","15.63","0","Apr-2005","0","","","14","0","12831","30.3%","30","w","8400.00","8400.00","0.0","0.00","0.00","0.00","0.0","0.0","0.0","","0.0","Apr-2017","Apr-2017","0","","1","INDIVIDUAL","","","","0","271","161061","3","2","1","2","10","38760","105","4","8","5338","65","42300","4","1","7","10","12389","24145","33.1","0","0","131","143","4","4","4","4","","10","","0","4","5","7","11","9","11","16","5","14","0","0","0","5","100","14.3","0","0","205671","51591","36100","36876","","","","","","","","","","",""
"","","4000","4000","4000"," 36 months"," 10.49%","130","B","B2","Dental hygienist","2 years","RENT","50000","Source Verified","Mar-2017","Issued","n","","","major_purchase","Major purchase","768xx","TX","33.61","1","Apr-2003","0","6","37","10","1","4388","33.2%","33","w","4000.00","4000.00","0.0","0.00","0.00","0.00","0.0","0.0","0.0","","0.0","Apr-2017","Apr-2017","0","67","1","INDIVIDUAL","","","","0","0","136208","0","4","1","2","7","131820","70","0","4","2461","56","13200","0","0","1","6","13621","39","98.4","0","0","148","163","15","7","6","120","","9","61","1","1","4","1","3","15","6","12","4","10","0","0","0","1","87.5","100","0","0","152852","136208","2500","139652","","","","","","","","","","",""
"","","6000","6000","6000"," 36 months","  7.24%","185.93","A","A3","Program Manager","3 years","RENT","125000","Source Verified","Mar-2017","Current","n","","","credit_card","Credit card refinancing","981xx","WA","9.25","0","Jul-2004","1","54","","16","0","9571","41.3%","27","w","5850.27","5850.27","164.21","164.21","149.73","14.48","0.0","0.0","0.0","Apr-2017","169.04","May-2017","Apr-2017","0","54","1","INDIVIDUAL","","","","0","0","60622","1","11","2","2","3","51051","103","1","2","6129","83","23200","1","1","1","4","3789","13629","41.3","0","0","152","149","7","3","0","7","","4","","9","3","3","5","5","22","5","5","3","16","0","0","0","3","59.1","20","0","0","72865","60622","23200","49665","","","","","","","","","","",""
"","","20000","20000","20000"," 36 months"," 15.99%","703.05","C","C5","Business development ","1 year","RENT","77000","Not Verified","Mar-2017","Issued","n","","","debt_consolidation","Debt consolidation","941xx","CA","29.02","1","Aug-1989","1","21","","13","0","11843","26%","24","w","20000.00","20000.00","0.0","0.00","0.00","0.00","0.0","0.0","0.0","","0.0","Apr-2017","Apr-2017","0","","1","INDIVIDUAL","","","","0","0","39953","2","4","2","2","1","28110","61","3","4","5701","44","45500","2","0","1","6","3073","26073","27.4","0","0","79","331","3","1","0","3","","0","21","0","4","5","5","11","7","9","17","5","13","0","0","0","5","95.8","20","0","0","91877","39953","35900","46377","","","","","","","","","","",""
"","","5000","5000","5000"," 36 months"," 14.99%","173.31","C","C4","Lead Supervisor","10+ years","RENT","68000","Not Verified","Mar-2017","Issued","n","","","debt_consolidation","Debt consolidation","945xx","CA","22.5","0","Apr-2003","0","27","","6","0","10276","90.1%","18","f","5000.00","5000.00","0.0","0.00","0.00","0.00","0.0","0.0","0.0","","0.0","Apr-2017","Apr-2017","0","","1","INDIVIDUAL","","","","0","531","36168","0","2","0","2","18","25892","64","0","0","4261","69","11400","1","1","0","2","6028","1124","90.1","0","0","167","111","46","18","0","46","","18","","0","4","4","4","6","8","4","9","4","6","0","0","0","0","94.4","75","0","0","52113","36168","11400","40713","","","","","","","","","","",""
"","","20000","20000","20000"," 36 months","  8.24%","628.95","B","B1","IT Lead Business Analyst","10+ years","MORTGAGE","100000","Source Verified","Mar-2017","Issued","n","","","debt_consolidation","Debt consolidation","852xx","AZ","17.44","0","Dec-2006","0","","100","11","1","16206","60%","21","w","20000.00","20000.00","0.0","0.00","0.00","0.00","0.0","0.0","0.0","","0.0","Apr-2017","Apr-2017","0","","1","INDIVIDUAL","","","","0","0","264832","1","2","0","1","22","16168","42","1","3","5775","49","27000","0","1","0","5","26483","3452","79.3","0","0","119","93","6","6","8","6","","19","","0","4","6","4","4","3","8","10","6","11","0","0","0","2","100","75","1","0","301225","32374","16700","38772","","","","","","","","","","",""

In [28]:
!tail LoanStats_2017Q1.csv

"","","12000","12000","12000"," 36 months"," 13.49%","407.17","C","C2","equipment operator","10+ years","MORTGAGE","86000","Source Verified","Jan-2017","Current","n","","","credit_card","Credit card refinancing","472xx","IN","12.98","0","Jan-2000","0","","","11","0","45820","71.6%","23","w","11452.40","11452.40","805.35","805.35","547.60","257.75","0.0","0.0","0.0","Mar-2017","407.17","Apr-2017","Apr-2017","0","","1","INDIVIDUAL","","","","0","63","137258","1","0","0","0","","0","","1","5","22235","72","64000","0","3","0","6","12478","8069","81.6","0","0","","204","4","4","11","4","","14","","0","5","8","6","8","0","10","12","8","11","0","0","0","1","100","66.7","0","0","164000","45820","43800","0","","","","","","","","","","",""
"","","10000","10000","10000"," 36 months"," 26.24%","404.19","E","E5","Bookkeeper/Admin asst","3 years","RENT","38000","Source Verified","Jan-2017","Current","n","","","debt_consolidation","Debt consolidation","020xx","MA","26.44","0","Jan-2010","2","","","16","0","15054","38%","20","f","9624.90","9624.90","793.8","793.80","375.10","418.70","0.0","0.0","0.0","Mar-2017","404.19","Apr-2017","Apr-2017","0","","1","INDIVIDUAL","","","","0","0","22930","1","2","1","1","7","7876","41","2","6","2882","39","39600","2","0","9","7","1433","19678","42.8","0","0","60","84","4","4","0","4","","1","","0","10","12","10","11","4","14","16","12","16","0","0","0","3","100","40","0","0","58699","22930","34400","19099","","","","","","","","","","",""
"","","19800","19800","19800"," 36 months"," 17.99%","715.72","D","D2","Owner","10+ years","MORTGAGE","45000","Source Verified","Jan-2017","Current","n","","","debt_consolidation","Debt consolidation","554xx","MN","12.05","0","Aug-2004","0","32","","7","0","15325","65.5%","15","w","18955.95","18955.95","1411.65","1411.65","844.05","567.60","0.0","0.0","0.0","Mar-2017","715.72","Apr-2017","Apr-2017","0","","1","INDIVIDUAL","","","","0","0","15325","0","0","0","0","","0","","0","2","4358","66","23400","0","0","0","2","2189","5956","68","0","0","","149","13","13","0","13","","13","32","0","5","7","5","11","0","7","15","7","7","0","0","0","0","93.3","80","0","0","23400","15325","18600","0","","","","","","","","","","",""
"","","3200","3200","3200"," 36 months"," 11.49%","105.51","B","B5","Title coordinator ","< 1 year","RENT","45000","Source Verified","Jan-2017","Current","n","","","debt_consolidation","Debt consolidation","770xx","TX","15.41","0","Jul-2006","0","66","","5","0","3468","29.1%","8","w","3049.54","3049.54","208.98","208.98","150.46","58.52","0.0","0.0","0.0","Mar-2017","105.51","Apr-2017","Apr-2017","0","","1","INDIVIDUAL","","","","0","360","23873","0","1","0","2","15","20405","85","1","4","983","67","11900","2","2","0","6","4775","6187","25.5","0","0","126","24","10","10","0","10","","15","","0","3","4","3","3","4","4","4","4","5","0","0","0","1","87.5","0","0","0","35821","23873","8300","23921","","","","","","","","","","",""
"","","15000","15000","15000"," 36 months"," 14.99%","519.91","C","C4","Police lieutenant ","5 years","MORTGAGE","80000","Not Verified","Jan-2017","Current","n","","","debt_consolidation","Debt consolidation","488xx","MI","12.44","1","Jun-1996","1","9","","12","0","13997","60.3%","24","w","14330.78","14330.78","1027.33","1027.33","669.22","358.11","0.0","0.0","0.0","Mar-2017","519.91","Apr-2017","Apr-2017","0","","1","INDIVIDUAL","","","","0","30","476088","1","3","1","1","12","145269","106","1","2","9316","92","23200","4","0","10","3","47609","3857","77.6","0","0","131","247","3","3","2","3","","1","","0","3","4","3","6","7","7","15","4","12","0","0","0","2","95.7","33.3","0","0","531690","159266","17200","154890","","","","","","","","","","",""
"","","29875","29875","29875"," 36 months","  7.24%","925.74","A","A3","Operation specialist","10+ years","MORTGAGE","120000","Verified","Jan-2017","Current","n","","","debt_consolidation","Debt consolidation","463xx","IN","18.2","0","Jun-1993","1","","","5","0","32662","37.2%","19","w","27624.99","27624.99","2717.14","2717.14","2250.01","467.13","0.0","0.0","0.0","Apr-2017","925.74","May-2017","Apr-2017","0","","1","INDIVIDUAL","","","","0","0","105625","0","1","0","1","13","20898","70","0","0","20089","53","69800","0","1","1","1","21125","37138","37.2","0","0","156","265","25","13","5","41","","0","","0","3","3","3","8","4","3","10","3","5","0","0","0","0","100","0","0","0","161300","53560","69800","30000","","","","","","","","","","",""
"","","19200","19200","19200"," 60 months"," 13.49%","441.7","C","C2","Physician Support Specialist","4 years","RENT","55000","Source Verified","Jan-2017","Current","n","","","credit_card","Credit card refinancing","146xx","NY","15.16","0","Oct-1990","0","59","","21","0","9925","28.1%","26","w","18469.73","18469.73","1144.01","1144.01","730.27","413.74","0.0","0.0","0.0","Mar-2017","566.7","Apr-2017","Apr-2017","0","","1","INDIVIDUAL","","","","0","218","30481","1","1","0","0","67","20556","91","2","8","2867","53","35300","0","0","7","8","1451","10820","39.2","0","0","159","315","4","4","0","12","","4","","0","8","15","10","10","4","20","22","15","21","0","0","0","2","96.2","0","0","0","57950","30481","17800","22650","","","","","","","","","","",""
"","","3600","3600","3600"," 36 months"," 22.74%","138.87","E","E1","Sr. Network Security Engineer","5 years","MORTGAGE","120000","Source Verified","Jan-2017","Current","n","","","other","Other","336xx","FL","23.37","0","Feb-2004","2","","","24","0","36839","67.7%","36","w","3457.36","3457.36","273.19","273.19","142.64","130.55","0.0","0.0","0.0","Mar-2017","138.87","Apr-2017","Apr-2017","0","","1","INDIVIDUAL","","","","0","0","470629","4","3","0","2","18","49694","76","4","13","6481","73","54400","1","0","3","15","19610","0","100.5","0","0","87","155","0","0","3","41","","1","","0","4","17","4","5","11","20","22","17","24","0","0","0","4","100","100","0","0","535910","86533","15500","65010","","","","","","","","","","",""
"","","10000","10000","10000"," 36 months"," 15.99%","351.53","C","C5","Satellite Access Supervisor","10+ years","ANY","50000","Source Verified","Jan-2017","Current","n","","","debt_consolidation","Debt consolidation","820xx","WY","21.84","0","Sep-2001","0","","","6","0","17193","87.3%","17","w","9560.53","9560.53","694.18","694.18","439.47","254.71","0.0","0.0","0.0","Mar-2017","351.53","Apr-2017","Apr-2017","0","","1","INDIVIDUAL","","","","0","0","25138","1","1","1","3","5","7945","64","0","0","2584","78","19700","0","8","0","3","4190","116","95.7","0","0","184","182","37","5","0","118","","","","0","1","3","1","4","7","4","10","4","6","0","0","0","1","100","100","0","0","32198","25138","2700","12498","","","","","","","","","","",""
"","","18000","18000","18000"," 60 months"," 14.99%","428.13","C","C4","Transportation planner ii","10+ years","MORTGAGE","109000","Not Verified","Jan-2017","Current","n","","","credit_card","Credit card refinancing","065xx","CT","17.49","0","Feb-2000","0","","","10","0","77395","94.7%","28","w","17590.90","17590.90","841.27","841.27","409.10","432.17","0.0","0.0","0.

As we look at the raw file itself, do you see anything that might cause us trouble as we read in the CSV file to a dataframe?

In [32]:
# Read in the CSV
df = pd.read_csv("LoanStats_2017Q1.csv", skiprows=1)

df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,112) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

    id  ...  sec_app_mths_since_last_major_derog
0  NaN  ...                                  NaN
1  NaN  ...                                  NaN
2  NaN  ...                                  NaN
3  NaN  ...                                  NaN
4  NaN  ...                                  NaN

[5 rows x 122 columns]

The extra rows at the top and bottom of the file have done two things:

1) The top row has made it so that the entire dataset is being interpreted as column headers

2) The bottom two rows have been read into the 'id' column and are causing every column to have at least two `NaN` values in it.

In [0]:
# We can fix the header problem by using the 'skiprows' parameter

Lets look at the NaN values of each column so that you can see the problem that the extra rows at the bottom of the file are creating for us

In [38]:
# Sum null values by column and sort from least to greatest
df.isnull().sum().sort_values()

open_il_6m                                 0
delinq_amnt                                0
chargeoff_within_12_mths                   0
avg_cur_bal                                0
acc_open_past_24mths                       0
inq_last_12m                               0
total_cu_tl                                0
inq_fi                                     0
total_rev_hi_lim                           0
max_bal_bc                                 0
open_rv_24m                                0
open_rv_12m                                0
total_bal_il                               0
open_il_24m                                0
open_il_12m                                0
open_acc_6m                                0
tot_coll_amt                               0
acc_now_delinq                             0
application_type                           0
policy_code                                0
mo_sin_old_rev_tl_op                       0
mo_sin_rcnt_rev_tl_op                      0
mo_sin_rcnt_tl                             0
mort_acc                                   0
total_il_high_credit_limit                 0
total_bc_limit                             0
total_bal_ex_mort                          0
tot_hi_cred_lim                            0
tax_liens                                  0
pub_rec_bankruptcies                       0
pct_tl_nvr_dlq                             0
num_tl_op_past_12m                         0
num_tl_90g_dpd_24m                         0
collections_12_mths_ex_med                 0
num_tl_30dpd                               0
num_rev_tl_bal_gt_0                        0
num_rev_accts                              0
num_op_rev_tl                              0
num_il_tl                                  0
num_bc_tl                                  0
num_bc_sats                                0
num_actv_rev_tl                            0
num_actv_bc_tl                             0
num_accts_ever_120_pd                      0
num_sats                                   0
last_pymnt_amnt                            0
tot_cur_bal                                0
dti                                        0
pymnt_plan                                 0
revol_bal                                  0
pub_rec                                    0
open_acc                                   0
sub_grade                                  0
home_ownership                             0
inq_last_6mths                             0
earliest_cr_line                           0
delinq_2yrs                                0
annual_inc                                 0
verification_status                        0
addr_state                                 0
title                                      0
issue_d                                    0
loan_status                                0
total_acc                                  0
initial_list_status                        0
purpose                                    0
out_prncp                                  0
recoveries                                 0
total_rec_late_fee                         0
funded_amnt                                0
funded_amnt_inv                            0
term                                       0
grade                                      0
collection_recovery_fee                    0
total_rec_int                              0
int_rate                                   0
total_pymnt_inv                            0
total_pymnt                                0
out_prncp_inv                              0
installment                                0
total_rec_prncp                            0
loan_amnt                                  0
zip_code                                   1
all_util                                   3
last_credit_pull_d                         5
revol_util                                51
mths_since_recent_bc                     945
bc_open_to_buy                           985
percent_bc_gt_75                         987
bc_util                                 1028
next_pymnt_d                            2251
mths_since_rcnt_il                      2596
mo_sin_old_il_acct                      2596
num_tl_120dpd_2m                        4706
emp_length                              6792
emp_title                               6892
mths_since_recent_inq                  11314
il_util                                12998
last_pymnt_d                           17122
mths_since_last_delinq                 46293
mths_since_recent_revol_delinq         62320
mths_since_last_major_derog            69688
mths_since_recent_bc_dlq               72987
mths_since_last_record                 77674
verification_status_joint              92372
dti_joint                              92372
annual_inc_joint                       92372
sec_app_mort_acc                       95754
sec_app_inq_last_6mths                 95754
sec_app_earliest_cr_line               95754
revol_bal_joint                        95754
sec_app_num_rev_accts                  95754
sec_app_open_acc                       95754
sec_app_collections_12_mths_ex_med     95754
sec_app_open_il_6m                     95754
sec_app_chargeoff_within_12_mths       95754
sec_app_revol_util                     95760
sec_app_mths_since_last_major_derog    96423
url                                    96779
member_id                              96779
desc                                   96779
id                                     96779
dtype: int64

In [0]:
# Address the extra NaNs in each column by skipping the footer as well.

In [35]:
df = pd.read_csv("LoanStats_2017Q1.csv", skiprows=1, skipfooter=2)
print(df.shape)
df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

(96779, 122)

   id  ...  sec_app_mths_since_last_major_derog
0 NaN  ...                                  NaN
1 NaN  ...                                  NaN
2 NaN  ...                                  NaN
3 NaN  ...                                  NaN
4 NaN  ...                                  NaN

[5 rows x 122 columns]

For good measure, we'll also drop some columns that are made up completely of NaN values.

Why might LendingClub have included columns in their dataset that are 100% blank?

In [0]:
df = df.drop(["url", "member_id", "desc", "id"], axis=1)

In [40]:
df.head()

   loan_amnt  ...  sec_app_mths_since_last_major_derog
0       3600  ...                                  NaN
1      15000  ...                                  NaN
2       8400  ...                                  NaN
3       4000  ...                                  NaN
4       6000  ...                                  NaN

[5 rows x 118 columns]

In [41]:
df.isnull().sum().sort_values()

loan_amnt                                  0
mo_sin_old_rev_tl_op                       0
delinq_amnt                                0
chargeoff_within_12_mths                   0
avg_cur_bal                                0
acc_open_past_24mths                       0
inq_last_12m                               0
total_cu_tl                                0
inq_fi                                     0
total_rev_hi_lim                           0
max_bal_bc                                 0
open_rv_24m                                0
open_rv_12m                                0
total_bal_il                               0
open_il_12m                                0
open_il_6m                                 0
open_acc_6m                                0
tot_cur_bal                                0
tot_coll_amt                               0
acc_now_delinq                             0
mo_sin_rcnt_rev_tl_op                      0
application_type                           0
mo_sin_rcnt_tl                             0
num_accts_ever_120_pd                      0
total_il_high_credit_limit                 0
total_bc_limit                             0
total_bal_ex_mort                          0
tot_hi_cred_lim                            0
tax_liens                                  0
pub_rec_bankruptcies                       0
pct_tl_nvr_dlq                             0
num_tl_op_past_12m                         0
num_tl_90g_dpd_24m                         0
num_tl_30dpd                               0
num_sats                                   0
num_rev_tl_bal_gt_0                        0
num_rev_accts                              0
num_op_rev_tl                              0
num_il_tl                                  0
num_bc_tl                                  0
num_bc_sats                                0
num_actv_rev_tl                            0
num_actv_bc_tl                             0
mort_acc                                   0
policy_code                                0
open_il_24m                                0
out_prncp                                  0
addr_state                                 0
initial_list_status                        0
total_acc                                  0
purpose                                    0
revol_bal                                  0
pub_rec                                    0
title                                      0
grade                                      0
open_acc                                   0
installment                                0
loan_status                                0
pymnt_plan                                 0
inq_last_6mths                             0
earliest_cr_line                           0
sub_grade                                  0
out_prncp_inv                              0
total_pymnt                                0
total_pymnt_inv                            0
dti                                        0
home_ownership                             0
funded_amnt                                0
funded_amnt_inv                            0
term                                       0
last_pymnt_amnt                            0
annual_inc                                 0
collection_recovery_fee                    0
recoveries                                 0
total_rec_late_fee                         0
total_rec_int                              0
int_rate                                   0
verification_status                        0
total_rec_prncp                            0
issue_d                                    0
delinq_2yrs                                0
collections_12_mths_ex_med                 0
zip_code                                   1
all_util                                   3
last_credit_pull_d                         5
revol_util                                51
mths_since_recent_bc                     945
bc_open_to_buy                           985
percent_bc_gt_75                         987
bc_util                                 1028
next_pymnt_d                            2251
mo_sin_old_il_acct                      2596
mths_since_rcnt_il                      2596
num_tl_120dpd_2m                        4706
emp_length                              6792
emp_title                               6892
mths_since_recent_inq                  11314
il_util                                12998
last_pymnt_d                           17122
mths_since_last_delinq                 46293
mths_since_recent_revol_delinq         62320
mths_since_last_major_derog            69688
mths_since_recent_bc_dlq               72987
mths_since_last_record                 77674
verification_status_joint              92372
dti_joint                              92372
annual_inc_joint                       92372
sec_app_collections_12_mths_ex_med     95754
revol_bal_joint                        95754
sec_app_earliest_cr_line               95754
sec_app_inq_last_6mths                 95754
sec_app_mort_acc                       95754
sec_app_open_acc                       95754
sec_app_open_il_6m                     95754
sec_app_num_rev_accts                  95754
sec_app_chargeoff_within_12_mths       95754
sec_app_revol_util                     95760
sec_app_mths_since_last_major_derog    96423
dtype: int64

### Clean up the `int_rate` column

When we're preparing a dataset for a machine learning model we typically want to represent don't want to leave any string values in our dataset --because it's hard to do math on words. 

Specifically, we have a column that is representing a numeric value, but currently doesn't have a numeric datatype. Lets look at the first 10 values of the `int_rate` column

In [42]:
# Look at the first 10 values of the int_rate column
df.int_rate.head(10)

0      7.49%
1     14.99%
2     11.39%
3     10.49%
4      7.24%
5     15.99%
6     14.99%
7      8.24%
8      7.99%
9      5.32%
Name: int_rate, dtype: object

In [0]:
# Look at a specific value from the int_rate column

Problems that we need to address with this column:

- String column that should be numeric
- Percent Sign `%` included with the number
- Leading space at the beginning of the string

However, we're not going to try and write exactly the right code to fix this column in one go. We're going to methodically build up to the code that will help us address these problems.

In [48]:
# Lets start with just fixing a single string.
# If we can fix one, we can usually fix all of them
rateToBeFixed = df.int_rate[0]
print("\"" + rateToBeFixed + "\"")

rateToBeFixed = rateToBeFixed.strip().strip("%")
print(rateToBeFixed, type(rateToBeFixed))

rateToBeFixed = float(rateToBeFixed)
print(rateToBeFixed, type(rateToBeFixed))

"  7.49%"
7.49 <class 'str'>
7.49 <class 'float'>

### Write a function to make our solution reusable!

In [52]:
# Write a function that can do what we have written above to any 
# string that is passsed to it.
def percentStringToFloat(percent_in):
  return float(percent_in.strip().strip("%"))

df["int_rate_float"] = df.int_rate.apply(percentStringToFloat)
df.head(10)

   loan_amnt  funded_amnt  ...  sec_app_mths_since_last_major_derog int_rate_float
0       3600         3600  ...                                  NaN           7.49
1      15000        15000  ...                                  NaN          14.99
2       8400         8400  ...                                  NaN          11.39
3       4000         4000  ...                                  NaN          10.49
4       6000         6000  ...                                  NaN           7.24
5      20000        20000  ...                                  NaN          15.99
6       5000         5000  ...                                  NaN          14.99
7      20000        20000  ...                                  NaN           8.24
8      12000        12000  ...                                  NaN           7.99
9       9900         9900  ...                                  NaN           5.32

[10 rows x 119 columns]

### Apply our solution to every cell in a column

In [0]:
# Done Above ^^^

## Challenge

We can create a new column with our cleaned values or overwrite the original, whatever we think best suits our needs. On your assignment you will take the same approach in trying to methodically build up the complexity of your code until you have a few lines that will work for any cell in a column. At that point you'll contain all of that functionality in a reusable function block and then use the `.apply()` function to... well... apply those changes to an entire column.

# [Objective](#pandas-apply) Modify and Create Columns using `.apply()`

## Overview

We're already seen one example of using the `.apply()` function to clean up a column. Lets see if we can do it again, but this time on a slightly more complicated use case.

Remember, the goal here is to write a function that will work correctly on any **individual** cell of a specific column. Then we can reuse that function on those individual cells of a dataframe column via the `.apply()` function.

Lets clean up the emp_title "Employment Title" column!

## Follow Along

First we'll try and diagnose how bad the problem is and what improvements we might be able to make.

In [53]:
# Look at the top 20 employment titles
df.emp_title.value_counts(dropna=False).head(20)

NaN                   6892
Teacher               1813
Manager               1620
Owner                 1398
Driver                 756
Registered Nurse       728
RN                     724
Sales                  682
Supervisor             595
Project Manager        542
owner                  479
General Manager        469
Director               462
Office Manager         448
President              414
Operations Manager     317
teacher                316
Engineer               314
manager                287
Vice President         285
Name: emp_title, dtype: int64

In [54]:
# How many different unique employment titles are there currently?
len(df.emp_title.value_counts())

35500

In [55]:
# How often is the employment_title null?
df.emp_title.isnull().sum()

6892

What are some possible reasons as to why a person's employment title may have not been provided?

In [0]:
# Create some examples that represent the cases that we want to clean up
examples = ["owner", " Director", "Teacher", np.NaN]

In [59]:
# Write a function to clean up these use cases and increase uniformity.
def clean_title(title):
  if isinstance(title, str):
    return title.strip().title()
  else:
    return "Unknown"

examples = [clean_title(example) for example in examples]
print(examples)

['Owner', 'Director', 'Teacher', 'Unknown']

We can use the same code as we did earlier to see how much progress was made.

In [62]:
df.emp_title = [clean_title(title) for title in df.emp_title]
df.emp_title.value_counts(dropna=False).head(20)

Unknown               6892
Teacher               2283
Manager               2137
Owner                 2062
Registered Nurse      1091
Driver                1065
Supervisor            1033
Sales                  920
Rn                     863
Project Manager        691
General Manager        675
Office Manager         665
Truck Driver           602
President              569
Director               551
Operations Manager     426
Sales Manager          423
Vice President         387
Engineer               377
Police Officer         365
Name: emp_title, dtype: int64

In [0]:
# How many different unique employment titles are there currently?

In [0]:
# How often is the employment_title null (NaN)?

## Challenge

Using the .apply() function isn't always about creating new columns on a dataframe, we can use it to clean up or modify existing columns as well.

# [Objective](#dates-and-times) Work with Dates and Times with Pandas

## Overview

Pandas has its own datatype datatype that makes it extremely convenient to convert strings that are in standard date formates to datetime objects and then use those datetime objects to either create new features on a dataframe or work with the dataset in a timeseries fashion. 

This section will demonstrate how to take a column of date strings, convert it to a datetime object and then use the datetime formatting `.dt` to access specific parts of the date (year, month, day) to generate useful columns on a dataframe.

## Follow Along

### Work with Dates 

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

Many of the most useful date columns in this dataset have the suffix `_d` to indicate that they correspond to dates.

We'll use a list comprehension to print them out

In [65]:
[col for col in df if col.endswith("_d")]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [63]:
df.issue_d.head()

0    Mar-2017
1    Mar-2017
2    Mar-2017
3    Mar-2017
4    Mar-2017
Name: issue_d, dtype: object

In [64]:
df.issue_d.value_counts()

Mar-2017    37181
Jan-2017    31835
Feb-2017    27763
Name: issue_d, dtype: int64

Lets look at the string format of the `issue_d` column

Because this string format %m-%y is a common datetime format, we can just let Pandas detect this format and translate it to the appropriate datetime object.

In [66]:
df.issue_d = pd.to_datetime(df.issue_d, infer_datetime_format=True)
df.issue_d.head()

0   2017-03-01
1   2017-03-01
2   2017-03-01
3   2017-03-01
4   2017-03-01
Name: issue_d, dtype: datetime64[ns]

Now we can see that the `issue_d` column has been changed to hold `datetime` objects.

Lets look at one of the cells specifically to see what a datetime object looks like:

In [67]:
df.issue_d[0]

Timestamp('2017-03-01 00:00:00')

You can see how the month and year have been indicated by the strings that were contained in the column previously, and that the rest of the values have been inferred.

We can use the `.dt` accessor to now grab specific parts of the datetime object. Lets grab just the year from the all of the cells in the `issue_d` column

In [68]:
df.issue_d.dt.year

0        2017
1        2017
2        2017
3        2017
4        2017
         ...
96774    2017
96775    2017
96776    2017
96777    2017
96778    2017
Name: issue_d, Length: 96779, dtype: int64

Now the month.

In [69]:
df.issue_d.dt.month

0        3
1        3
2        3
3        3
4        3
        ..
96774    1
96775    1
96776    1
96777    1
96778    1
Name: issue_d, Length: 96779, dtype: int64

It's just that easy! Now, instead of printing them out, lets add these year and month values as new columns on our dataframe. Again, you'll have to scroll all the way over to the right in the table to see the new columns.

In [70]:
df["issue_year"] = df.issue_d.dt.year
df["issue_month"] = df.issue_d.dt.month

df.head()

   loan_amnt  funded_amnt  ...  issue_year issue_month
0       3600         3600  ...        2017           3
1      15000        15000  ...        2017           3
2       8400         8400  ...        2017           3
3       4000         4000  ...        2017           3
4       6000         6000  ...        2017           3

[5 rows x 121 columns]

Because all of these dates come from Q4 of 2018, the `issue_d` column isn't all that interesting. Lets look at the `earliest_cr_line` column, which is also a string, but that could be converted to datetime format.

We're going to create a new column called `days_from_earliest_credit_to_issue`

It's a long column header, but think about how valuable this piece of information could be. This number will essentially indicate the length of a person's credit history and if that is correlated with repayment or other factors could be a valuable predictor!

In [71]:
df.earliest_cr_line.head()

0    Aug-1992
1    Sep-1989
2    Apr-2005
3    Apr-2003
4    Jul-2004
Name: earliest_cr_line, dtype: object

In [0]:
df.earliest_cr_line = pd.to_datetime(df.earliest_cr_line, infer_datetime_format=True)

What we're about to do is so cool! Pandas' datetime format is so smart that we can simply use the subtraction operator `-` in order to calculate the amount of time between two dates. 

Think about everything that's going on under the hood in order to give us such straightforward syntax! Handling months of different lengths, leap years, etc. Pandas datetime objects are seriously powerful!

In [73]:
df.issue_d - df.earliest_cr_line

0        8978 days
1       10043 days
2        4352 days
3        5083 days
4        4626 days
           ...
96774    6271 days
96775    2161 days
96776    5175 days
96777   11050 days
96778    4293 days
Length: 96779, dtype: timedelta64[ns]

In [76]:
df["days_from_credit_to_issue"] = (df.issue_d - df.earliest_cr_line).dt.days
df.head()

   loan_amnt  funded_amnt  ...  issue_month days_from_credit_to_issue
0       3600         3600  ...            3                      8978
1      15000        15000  ...            3                     10043
2       8400         8400  ...            3                      4352
3       4000         4000  ...            3                      5083
4       6000         6000  ...            3                      4626

[5 rows x 122 columns]

What's oldest credit history that was involved in Q4 2018?

In [77]:
df.days_from_credit_to_issue.describe()

count    96779.000000
mean      6158.182757
std       2842.178208
min       1124.000000
25%       4232.000000
50%       5571.000000
75%       7611.000000
max      23773.000000
Name: days_from_credit_to_issue, dtype: float64

In [80]:
print("" + str(23773/365) + " years")

65.13150684931507 years

25,171 days is ~ 68.96 years of credit history!

## Challenge

Pandas' datetime format is so easy to work with that there's really no excuse for not using dates to make features on a dataframe! Get ready to practice more of this on your assignment.